{% set editor = salt['grains.filter_by']({
    'Debian': {
        'default_vim_path': '/usr/bin/vim.basic',
        'default_nano_path': '/bin/nano',
    },
    'RedHat': {
    },
    'Arch': {
    },
}, merge=salt['pillar.get']('editor:lookup')) %}

